<div class="container">
    <!-- First row Where Header and Image Will go -->
    <div class="row">
        <div class="col-sm-4"></div>
        <!-- Heading and Image/Logo -->
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4"></div>
    </div>
    <!-- Second row That Will be Broken Will Have Burgers Ordered and Burgers Devoured -->
    <div class="row">
        <div class="col-sm-3"></div>
        <!-- Burgers Ordered -->
        <div class="col-sm-3">

        </div>
        <!-- Burgers Already Devoured -->
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3"></div>
    </div>
    <!-- Third row That Will be the Area for Text Input From User -->
    <div class="row">
        <div class="col-sm-4"></div>
        <!-- Text Input and Submit Button -->
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4"></div>
    </div>
</div>