
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico');

body {
    background-color: #DDC9B4;
}

.pacifico-text {
    font-family: 'Pacifico', cursive;
}

.burger-text {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}